body {
    display: grid;
    min-height: 100vh;
    grid-template: auto 4fr/ 1fr 4fr;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    background-color: rgb(199, 152, 0);
    grid-area: 1 / 1 / -1 / 2;
}

/* Align the icon and text on the same row */
.sidebar li {
    display: flex; /* make the list item a flex container */
    align-items: center; /* align the icon and text vertically */
}

/* Set the width and height of the icon */
.sidebar li img {
    width: 2rem; /* or any other value */
    height: auto;
    margin-right: 5px; /* add some space between icon and text */
}

/* Style for the menu text */
.sidebar li .menu-text {
    font-size: 14px; 
    color: #000; 
}

/* Style for the menu items */
.sidebar li {
    padding: 10px; /* or any other value */
    cursor: pointer;
}

/* Style for the menu items hover*/
.sidebar li:hover {
    background-color: #f1f1f1;
}

.header {
    grid-column-start: 2;
    grid-row-start: 1;
    margin: 10px 25px;
}

/* Make the upper container a flex container */
.head-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Set a fixed width for the notification icon */
.notification {
    width: 10px; 
    text-align: center;
}
/* Set the width of the profile icon and name based on the length of the name */
.profile {
    width: auto;
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 5px 0;
}

.profile-img {
    border-radius: 50%;
    height: 50px;
    margin-left: 50px;
    margin-right: 10px;
}
.profile-img-big{
    border-radius: 50%;
    height: 100px;
}
/* Set the search input to take up the remaining space */
.search {
    flex: 1;
    display: flex;
}
/* Style for the search input box */
.search input[type="text"] {
    padding: 0.5em;
    border-radius: 0.25em;
    border: 1px solid gray;
    width: 80%;
    margin-left: 10px;
}
.search-input {
    align-items: center;
}
.head-lower {
    display: flex;
    align-items: center;
}
.head-lower .user{
    display: flex;
    flex: 1;
}
.welcome {
    padding-left: 20px;
}
.head-lower .buttons{
    float: right;
    margin-left: auto;
}
.main-content {
    background-color: gray;
}