body {
    display: grid;
    min-height: 100vh;
    grid-template: auto 4fr/ 1fr 4fr;
    margin: 0;
}

.sidebar {
    background-color: rgb(199, 152, 0);
    grid-area: 1 / 1 / -1 / 2;
}

.header {
    grid-column-start: 2;
    grid-row-start: 1;
}

.main-content {
    background-color: gray;
}