body {
  display: grid;
  min-height: 100vh;
  grid-template: auto 4fr/ 1fr 4fr;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar {
  background-color: #ca8a04;
  grid-area: 1 / 1 / -1 / 2;
  font-size: 2em;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

/* Align the icon and text on the same row */
.sidebar li {
  display: flex; /* make the list item a flex container */
  align-items: center; /* align the icon and text vertically */
  padding: 0;
  margin: 0;
}

/* Set the width and height of the icon */
.sidebar li img {
  width: 2rem; /* or any other value */
  height: auto;
  margin-right: 5px; /* add some space between icon and text */
}

/* Style for the menu text */
.sidebar li .menu-text {
  font-size: 24px;
  color: #000;
  padding: 10px 15px;
  margin: 0;
}

/* Style for the menu items */
.sidebar li {
  padding: 10px; /* or any other value */
  cursor: pointer;
  padding: 5px 20px;
  margin: 0;
}

/* Style for the menu items hover*/
.sidebar li:hover {
  background-color: #f1f1f1;
}

.header {
  grid-column-start: 2;
  grid-row-start: 1;
  margin: 10px 25px;
  background-color: #f8fafc;
}

/* Make the upper container a flex container */
.head-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Set a fixed width for the notification icon */
.notification {
  width: 10px;
  text-align: center;
}
/* Set the width of the profile icon and name based on the length of the name */
.profile {
  width: auto;
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 5px 0;
}

.profile-img {
  border-radius: 50%;
  height: 50px;
  margin-left: 50px;
  margin-right: 10px;
}
.profile-img-big {
  border-radius: 50%;
  height: 100px;
}
/* Set the search input to take up the remaining space */
.search {
  flex: 1;
  display: flex;
}
/* Style for the search input box */
.search input[type="text"] {
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid gray;
  width: 80%;
  margin-left: 10px;
}
.search-input {
  align-items: center;
}
.head-lower {
  display: flex;
  align-items: center;
}
.head-lower .user {
  display: flex;
  flex: 1;
}
.welcome {
  padding-left: 20px;
}
.head-lower .buttons {
  float: right;
  margin-left: auto;
}
.main-content {
  background-color: #cbd5e1;
  display: grid;
  grid-template-columns: 4fr minmax(250px, 1fr);
  padding: 20px;
}

.main-cards {
  grid-column: 1 2;
}
.card {
  background-color: white;
  border-radius: 0.5rem;
  border-left-style: solid;
  border-left-color: #ca8a04;
  border-left-width: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  overflow: hidden;
  border-bottom: none;
  border-bottom-style: 10px;
}
.inner-card-container {
  margin: 0 10px;
  height: 180px;
}
.inner-card-container p {
  padding: 0;
  margin: 0;
  height: 126px;
  overflow: hidden;
}
.main-side {
  grid-column: 2 3;
  display: grid;
  grid-template-rows: 350px 350px;
  margin-left: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.ann-container {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 290px;
  padding: 10px;
}

.trending-container {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 290px;
  padding: 10px;
}

.title {
  margin-bottom: 20px;
}
Button {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
Button:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
Button:active {
	position:relative;
	top:1px;
}